<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{>nav-bar}}
    {{{body}}}
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.bundle.js"></script>
    <script src="/javascripts/clean-blog.js"></script>
  </body>
</html>
